flask==2.3.3
openai==0.27.0
markdown2==2.4.2
gunicorn==22.0.0
python-dotenv==0.19.2
werkzeug==2.3.7
fpdf2==2.5.5
celery==5.3.4
redis==4.3.4
requests==2.27.1
importlib_metadata==4.8.3
eventlet==0.33.3
pytz==2023.3
setuptools==71.1.0
